@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}
body
{
	text-align: center;
}
.wrapper
{
	width: 1170px;
	margin: 0 auto;
}
header
{
	height: 100px;
	background: #0B123E;
	width: 100%;
	z-index: 12;
	position: fixed;
}
.logo
{
	width: 40%;
	float: left;
	line-height: 100px;
}
.logo p1
{
	text-decoration: none;
	font-size: 30px;
	font-family: bignoodletitling;
	color: #fff;
	letter-spacing: 3px;
}
nav
{
	float: right;
	line-height: 100px;
}
nav a
{
	text-decoration: none;
	font-family: bignoodletitling;
	font-size: 20px;
	margin: 0 10px;
	color: aliceblue;
}
.banner-area
{
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background-image: url("photos/cover.jpg");
		-webkit-background-size: cover;
		background-size: cover;
	background-position: center center;
}
.content-area
{
	width: 100%;
	position: relative;
	top: 500px;
	background: #8D8D8D;
	height: 10210px;
}
.content-area h2
{
	font-style: italic;
	letter-spacing: 2px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
	color: black;
	
}
.banner-area h1
{
	padding-top: 12%;
	font-size: 50px;
	font-family: poppins;
	text-transform: uppercase;
	color: aliceblue;
}
.banner-area h2
{
	padding-top: 1%;
	font-size: 25px;
	font-family: "poiret-one";
	text-transform: uppercase;
	color: aliceblue;
}
.content-area p
{
	font-family: merienda-one;
	font-size: 20px;
}
.content-area h3
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; 
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 25px;
	margin: 0;
	color: black;
	text-transform: uppercase;
}
.content-area h1
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding-bottom: 5px;
	padding-top: 20px;
	text-transform: uppercase;
}
.content-area img
{
	height: 400px;
	width: 700px;
}
.content-area h5
{
	font-size: 20px;
	text-align: center;
	font-style: italic;
}
















